/**
* Accordeon
*/


.accordeon {
    display: flex;
    width: 100%;
}

details {
    display: flex;
    padding-left: 20px;
    position: relative;
    overflow: hidden;
}

details[open] {
    margin-bottom: 20px;
    width: 100%;
    transition: all 2s ease-in-out;
}

details div p {
    display: block;
}

summary {
    list-style: none;
}
